@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

ul {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* //test */
body::-webkit-scrollbar {
  display: none;
}
.after-bg::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 258px;
  width: 100%;
  background: linear-gradient(0deg, #0265ff 50%, rgba(2, 101, 255, 0) 100%);
}

@media (max-width: 992px) {
  .after-bg::after {
    height: 85px;
  }
}
.blur_custom1 {
  border-radius: 150px 175px 350px 325px;
  background: linear-gradient(180deg, #4ddc9e 0%, #315cfd 100%);
  filter: blur(25px);
}
.text-shadow1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.text-gradient-1 {
  background: linear-gradient(90deg, #0265ff 38.98%, #208cff 56.51%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@layer utilities {
  .text-troke-color {
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0265ff;
    font-family: var(--font-lato), sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 61px;
  }
  .typography-1 {
    color: #0265ff;
    text-align: center;
    font-family: var(--font-lato), sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 37.48px; /* 130.139% */
    text-transform: uppercase;
  }
  .typography-2 {
    color: #212121;
    font-family: var(--font-lato), sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  .typography-3 {
    color: #6c6c6c;
    font-family: var(--font-lato), sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
  }
  .typography-4 {
    color: #fff;
    text-align: center;
    font-family: var(--font-lato), sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .text-balance {
    text-wrap: balance;
  }

  .text-custom-desktop-1 {
    font-family: var(--font-lato), sans-serif;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 62.5% */
    text-transform: uppercase;
  }

  .text-custom-desktop-2 {
    font-family: var(--font-lato), sans-serif;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
  }

  .text-custom-blue-desktop {
    font-family: var(--font-lato), sans-serif;
    color: #0265ff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
  }
  body {
    line-height: 1.3em;
    min-width: 920px;
  }
  .history-tl-container {
    font-family: "Roboto", sans-serif;
    width: 50%;
    margin: auto;
    display: block;
    position: relative;
  }
  .history-tl-container ul.tl {
    margin: 20px 0;
    padding: 0;
    display: inline-block;
  }
  .history-tl-container ul.tl li {
    list-style: none;
    margin: auto;
    margin-left: 200px;
    min-height: 50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left: 1px solid #fff;
    padding: 0 0 50px 30px;
    position: relative;
  }
  .history-tl-container ul.tl li:last-child {
    border-left: 0;
  }
  .history-tl-container ul.tl li::before {
    position: absolute;
    left: -8px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258cc7;
    height: 12px;
    width: 12px;
    transition: all 500ms ease-in-out;
  }
  .history-tl-container ul.tl li:hover::before {
    border-color: #258cc7;
    transition: all 1000ms ease-in-out;
  }
  ul.tl li .item-title {
  }
  ul.tl li .item-detail {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
  }
  ul.tl li .timestamp {
    color: #8d8d8d;
    position: absolute;
    width: 100px;
    left: -50%;
    text-align: right;
    font-size: 12px;
  }
  @media (max-width: 992px) {
    .text-custom-blue-desktop {
      font-size: 14px;
    }
  }
}
